Sats.HOSTChannel/Service References/HOSTService/Sats.CommonLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sats.CommonLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sats.CommonLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TLNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WSName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="WCFTellerProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllMember" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AllStock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Interval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RptExprire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TellerFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TellerGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TellerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TellerLevel" type="xs:int" />
      <xs:element minOccurs="0" name="TellerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TellerPrinterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TellerTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TellerType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VsdBrid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VsdBrid2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCFTellerProfile" nillable="true" type="tns:WCFTellerProfile" />
</xs:schema>