Sats.HOSTChannel/Service References/HOSTService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sats.CommonLibrary" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sats.CommonLibrary" minOccurs="0" name="pv_oClient" nillable="true" type="q1:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pv_arrByte" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendResult" type="xs:long" />
        <xs:element minOccurs="0" name="pv_arrByte" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pv_arrByte" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="v_arrByteCA" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="v_strTLLOGIDCA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_strVSDSignature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendCAResult" type="xs:long" />
        <xs:element minOccurs="0" name="pv_arrByte" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="v_arrByteCA" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="v_strTLLOGIDCA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_strVSDSignature" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sats.CommonLibrary" minOccurs="0" name="pv_oClient" nillable="true" type="q2:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendActionResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerRptExp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pv_strRptId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_strTLName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_intServerRptExp" type="xs:int" />
        <xs:element minOccurs="0" name="pv_strSiCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_strSiCodeAllow" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerRptExpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerRptExpResult" type="xs:long" />
        <xs:element minOccurs="0" name="pv_intServerRptExp" type="xs:int" />
        <xs:element minOccurs="0" name="pv_strSiCodeAllow" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pv_strMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_arrByte" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendRptResult" type="xs:long" />
        <xs:element minOccurs="0" name="pv_strMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_arrByte" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendExpRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pv_strMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendExpRptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendExpRptResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchRpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pv_strRptDataKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_intFrom" type="xs:int" />
        <xs:element minOccurs="0" name="pv_intTo" type="xs:int" />
        <xs:element minOccurs="0" name="pv_arrByte" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchRptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchRptResult" type="xs:long" />
        <xs:element minOccurs="0" name="pv_arrByte" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRptCA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pv_strMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_arrByte" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="v_strVSDSignature" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_strCAKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_strDataHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRptCAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendRptCAResult" type="xs:long" />
        <xs:element minOccurs="0" name="pv_strMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_arrByte" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="v_strVSDSignature" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_strCAKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_strDataHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFileRptCA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pv_arrByte" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="v_strVSDSignature" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_strClientVSDSignature" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_strTLname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_strRptId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_strLocalDir" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_strFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_strStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFileRptCAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveFileRptCAResult" type="xs:long" />
        <xs:element minOccurs="0" name="v_strLocalDir" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="v_strFileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynSend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pv_arrByte" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynSendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pv_arrByte" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pv_strUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_strPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_strIPAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginCA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pv_strEncryptedXML" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_strEncryptedSessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_strResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginCAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginCAResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_strEncryptedSessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_strResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileCA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pv_strMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_strBrid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_strFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_strCurrDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileCAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileCAResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_strMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AfterLoginCA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pv_strEncryptedSessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_strResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_strUserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AfterLoginCAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AfterLoginCAResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_strEncryptedSessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_strResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pv_strUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pv_strNewPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTellerProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pv_strUserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTellerProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sats.CommonLibrary" minOccurs="0" name="GetTellerProfileResult" nillable="true" type="q3:WCFTellerProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Sats.CommonLibrary" minOccurs="0" name="pv_oClient" nillable="true" type="q4:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Receive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pv_oMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pv_oDataSet" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                </ActualType>
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserJoin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Sats.CommonLibrary" minOccurs="0" name="pv_oClient" nillable="true" type="q5:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLeave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Sats.CommonLibrary" minOccurs="0" name="pv_oClient" nillable="true" type="q6:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>